.container {
    display: grid;
    grid-template-columns: column;
    align-content: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(80, 135, 255);
}

.exp {
    width: 95%;
    margin:0 auto;
    height: 50px;
    margin: 15px;
    border:none;
    font-size: 20px;
}

label {
    font-size: 20px;
}

.button {
    margin-top: 10px;
    font-size: 24px;
    box-shadow: rgba(101, 41, 255, 0.15) 0px 10px 20px;
    color: rgb(252, 252, 252);
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    justify-self: center;
    white-space: nowrap;
    background: linear-gradient(104.74deg,rgb(99, 127, 218) 0%, rgb(99, 127, 218) 100%);
    border-radius: 30px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 16px 60px;
    outline: none;
    width: 100%;
    transition: all 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.2) 0s;
}
.button:hover {
    opacity:0.5;
}

p {
    color:rgb(244, 244, 245);
    font-size:40px;
    text-align: center;
}

.fieldset {
    border-radius: 60px;
    padding: 20px;
    margin: 0px;
<<<<<<< HEAD:static/css/styles1.css
    
    background-color:rgb(209, 122, 7);
    color: rgb(232, 231, 236);
=======
    -webkit-animation: action 1s infinite  alternate;
    animation: action 1s infinite  alternate;
    transition: all 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.2) 0s;
    background-color:rgb(0, 0, 255);
    color: white;
>>>>>>> c9546cd675f3fa26b5c7bb2a09f770a872c4838c:static/css/styles.css
    text-align: center;
    font-weight: 800;
   
    
}

.inputbox{
    width: 200px;
}




.form {
    width: 500px;
    height: 500px;
    
}

.options {
    font-size: 15px;
}


