<!DOCTYPE html>
<html>    
<style>
    body {
        background-image: url('static/css/conny-schneider-pREq0ns_p_E-unsplash.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles3.css') }}">
</head>
<body>
  <header>
    <div class="container">
        <h1>The Nuts and Bolts of Building the Data Sciences Job Salary Calculator</h1>
    </div>
</header>
    
            <div class="container">
                <body>
                    <div class="container">
                      <div class="visualization">
                        <iframe src="https://your-tableau-visualization-url-1" class="visualization"></iframe>
                      </div>
                      <div class="visualization">
                        <iframe src="https://your-tableau-visualization-url-2" class="visualization"></iframe>
                      </div>
                      <div class="visualization">
                        <iframe src="https://your-tableau-visualization-url-3" class="visualization"></iframe>
                      </div>
                      <div class="visualization">
                        <iframe src="https://your-tableau-visualization-url-4" class="visualization"></iframe>
                      </div>
                      <div class="visualization">
                        <iframe src="https://your-tableau-visualization-url-5" class="visualization"></iframe>
                      </div>
                      <div class="visualization">
                        <iframe src="https://your-tableau-visualization-url-6" class="visualization"></iframe>
                      </div>
                    </div>


                  <div class="container">
                    <a href="http://127.0.0.1:5000/" class="button">Return to Job Salary Calculator</a>
                </div>
	
	

</body>
</html>

