<!DOCTYPE html>
<html>
<head>
    <title>Salary Prediction for Data-Related Positions</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles1.css') }}">
    <style>
        body {
            background-image: url('static/css/lukas-blazek-mcSDtbWXUZU-unsplash.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    <h1>       Negotiate Compensation for Your Next Data Sciences Job<br>Enter job details & click Predict Salary to see the 2023 US salary range</h1>

    
    <header>
        <div class="container">
            <h2>Data Related Jobs Salary Predictor</h2>
            
            <div class="container">
        </div>
        <h4><a href="/tab">Click here to see source data in tableau dashboard</a></h4>
    </header>                  
            <form action="/predict" method="POST" class="form">
                <div class="fieldset">
                    <label>Experience Level (enter number)</label><br>
                        <div class = "options">
                            Entry = 1 <br>
                            Middle = 2<br> 
                            Senior = 3<br> 
                            Expert = 4<br>
                        </div>
                    <input class="inputbox" name="exp" type="number" min="1" max="4"/>
                </div>
                <div class="fieldset">
                    <label>Job Title (enter number)</label><br>
                        <div class = "options">
                            1 Data Analyst <br>
                            2 Data Engineer <br>
                            3 Analytics Engineer<br>
                            4 Machine Learning Engineer<br>
                            5 Data Scientist<br>
                            6 Data Architect<br>
                        </div>
                    <input class="inputbox" name="job" type="number" max="6" min="1"/>
                </div>
                <div class="fieldset">
                    <label>Remote Ratio (Enter %)<br>
                        <div class = "options">
                            Fully Remote = 100<br>
                            Hybrid = 50<br>
                            In Office = 0<br>
                    </div></label>
                    <input class="inputbox" name="remote" type="number"/>
                </div>
                <div class="fieldset">
                    <label>Company Size (enter number)<br>
                        <div class = "options">
                            Small = 1<br>
                            Medium = 2<br>
                            Large = 3<br>
                        </div></label>
                    <input class="inputbox" name="size" type="number" max="3" min="1"/>
                </div>
                <input type="submit" class="button" value="Predict Salary">
            </form>
        </div>
    </body>
</html>

