<!DOCTYPE html>
<html>
    <head>
        <title>Salary Prediction for Data-Related Positions</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>

	<header>
		<div class="container">
		    <h2>Salary Predictor</h2>
	    </div>
	</header>
        <div class="container">
            <img src="https://media.giphy.com/media/xT39DkL2ZGZHA0Qr1S/giphy.gif"/>

            <form action="/predict" method="POST" class="form">
                <div class="fieldset">
                    <label>Enter Your Experience Level. <br>Entry = 1 <br>Middle = 2<br> Senior = 3<br> Expert = 4</label>
                    <input class="exp" name="exp"/>
                </div>
                <div class="fieldset">
                    <label>Enter the number for the Job Title<br>
                        1 Data Analyst <br>
                        2 Data Engineer <br>
                        3 Analytics Engineer<br>
                        4 Machine Learning Engineer<br>
                        5 Data Scientist<br>
                        6 Data Architect</label>
                    <input class="job" name="job"/>
                </div>
                <div class="fieldset">
                    <label>Enter Your Remote Ratio<br>
                    Fully Remote = 100<br>
                    Hybrid = 50<br>
                    In Office = 0</label>
                    <input class="remote" name="remote"/>
                </div>
                <div class="fieldset">
                    <label>Enter Your Company Size<br>
                    Small enter 1<br>
                    Medium enter 2<br>
                    Large enter 3</label>
                    <input class="size" name="size"/>
                </div>
                <input type="submit" class="button" value="predict">
            </form>
        </div>
    </body>
</html>