<!DOCTYPE html>
<html>  
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles2.css') }}">
 
<style>
    body {
        background-image: url('static/css/background_totalcompinfo.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>

    <title>Total Compensation Background</title>
</head>
  <body>
    <header>
      <div class="container">
          <h1>Base Salary is just the beginning...<br><br>Consider the value of the items below to calculate your total desired compensation for a job.</h1>
      </div>
    </header>    
    <h2>What's in Total Compensation?</h2>
      <ul>
        <li>Salary or hourly rate</li>
        <li>Medical benefits (eg, medical, dental)</li>
        <li>Education assistance program (for employee)</li>
        <li>Tuition assistance (for employee's children)</li>
        <li>Flexible spending account (eg, healthcare, dependent care)</li>
        <li>Retirement benefits (eg, pension plan, 401(k), 403(b))</li>
        <li>Paid leave (eg, holidays, vacation, sick days, <br>&nbsp;&nbsp;&nbsp;personal time, jury duty, bereavement, military pay)</li>
        <li>Career advancement opportunities</li>
        <li>Employee assistance programs</li>
        <li>Life insurance</li>
        <li>Disability insurance</li>
        <li>Relocation assistance</li>
        <li class="important-item">Not on the list but important to you, ask for it</li>
      </ul>            
    <div class="container">
      <a href="http://127.0.0.1:5000/" class="button">Return to Job Salary Calculator</a>
    </div>
  </body>
</html>
